name: fastapi workflow

on:
  push:
    branches: [ "develop", "feat/linters"]
  pull_request:
    branches: [ "develop" ]
  workflow_dispatch:


jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Run black
        run:
          black --check ./app
      - name: Run flake8
        run: flake8