name: fastapi-app workflow

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]
  workflow_dispatch:


jobs:
  tests:
    runs-on: ubuntu-latest
    name: Lint and Pytest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
          path: "app"
      - uses: isort/isort-action@master
        with:
          configuration: .pyproject.toml
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r app/requirements.txt
      - name: Test with pytest
        run: |
          pytest
  